extends layout

block content
  .container
    .row
      .col-md-4.offset-md-4.mt-5.mb-5
        - if(error)
            .alert.alert-danger #{error}

        form#updatePublisher(action='/publisher/update', method='post')
            input#publisher_id(type='hidden', name='id' value=publisher.id)
            input#address_id(type='hidden', name='address_id' value=publisher.address_id)
            .form-group
                label(for='name') Name:
                span.text-danger *
                input#publisher_name.form-control(type='text', name='name', value=publisher.name, placeholder='Enter name', autofocus='')
                div.invalid-feedback Field is required
            .form-group
              label(for='publisher_country') Country:
              span.text-danger *
              input#publisher_country.form-control(type='text', name='country', placeholder='Enter country', list="coutries_list", value=publisher.country)
              datalist#coutries_list
                each country, idx in countries
                  option(value=country.name)
              div.invalid-feedback Field is required
            .form-group
              label(for='publisher_state') State:
              span.text-danger *
              input#publisher_state.form-control(type='text', name='state', placeholder='Enter state', list="states_list", value=publisher.state)
              datalist#states_list
                each state, idx in states
                  option(value=state.name)
              div.invalid-feedback Field is required
            .form-group
              label(for='publisher_city') City:
              span.text-danger *
              input#publisher_city.form-control(type='text', name='city', placeholder='Enter city', list="cities_list", value=publisher.city)
              datalist#cities_list
                each city, idx in cities
                  option(value=city.name)
              div.invalid-feedback Field is required
            .form-group
              label(for='publisher_street') Street and etc.:
              span.text-danger *
              input#publisher_street.form-control(type='text', name='street', placeholder='Enter street', value=publisher.street)
              div.invalid-feedback Field is required
            #publisherPhonesContainer.form-group
            .form-group
              button#addPhone.btn.btn-primary(type='button') Add Phone
            a.btn.btn-secondary.mr-1(href='/publisher/index') Back
            button.btn.btn-primary(type='submit') Update